body {
  padding: 0;
  margin: 0;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home {
  flex-grow: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

li {
  list-style: none;
}